<a href="https://colab.research.google.com/github/garima-pachori/Python-for-Data-Science/blob/main/Working_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'



---


**Python series with python lists**

---

In [3]:
l=[1,2,3,4,5,6]
print(l)

[1, 2, 3, 4, 5, 6]



---



***series = pd.Series(l)***: This line creates a Pandas Series object named

series from the list l. A Pandas Series is a one-dimensional labeled array that can hold data of various types.


---

In [4]:
series=pd.Series(l)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

***empty = pd.Series([ ])***: This line creates a Pandas Series object named empty. Inside the pd.Series() constructor, is a empty list ([]) as the data for the Series. As a result, the Series is created with no data.

---

In [7]:
empty=pd.Series([])
print(empty)

Series([], dtype: float64)

<ipython-input-7-961680beac3f>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty=pd.Series([])

In [9]:
a=pd.Series(['a','b','c','d','e'], index=[10,11,12,13,14], name="alphabets")
a

10    a
11    b
12    c
13    d
14    e
Name: alphabets, dtype: object

In [10]:
scaler_Series=pd.Series(0.5)
scaler_Series

0    0.5
dtype: float64



---
This Series effectively stores scalar (single) data, and you can perform various operations and calculations on this value using Pandas' built-in functions, making it useful for handling individual data points in a structured way within a Pandas Series object.

---

***Python series with python dictionary***

In [12]:
dictionary_Series=pd.Series({'p': 1,'q': 2,'r': 3,'s': 4,'t': 5})
dictionary_Series

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [13]:
dictionary_Series[0]

1

In [14]:
dictionary_Series[0:3]

p    1
q    2
r    3
dtype: int64

In [15]:
max(dictionary_Series)

5

In [16]:
dictionary_Series=pd.Series({'p': [1,2,3,4],'q': [5,6,7,8],'r': [9,10,11,12],'s': [13,14,15,16],'t': [17,18,19,20]})
dictionary_Series

p        [1, 2, 3, 4]
q        [5, 6, 7, 8]
r     [9, 10, 11, 12]
s    [13, 14, 15, 16]
t    [17, 18, 19, 20]
dtype: object